@import "../../../assets/css/VerticalTimeline.css";
@import "../../../assets/css/VerticalTimelineElement.css";

#timeline-div {
  background-color: #14390a;
  margin: 0px 40px 40px 40px;
  border-radius: 0.5em;
  border: 2px solid #16270f;
}

.fa-icon {
  width: 26px;
  height: 26px;
}

.work-timeline-title {
  font-weight: bold;
  margin-bottom: 10px;
}
