header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
  background-color: beige;
  font-family: "Cormorant SC", serif;
  z-index: 5;
  border-bottom: 2px solid #16270f;
}

.header-child {
  flex-grow: 1;
}

.header-child:nth-child(2) {
  flex-grow: 1.5;
}

header div {
  padding: 25px 20px 25px 20px;
}

.home-link {
  text-decoration: none;
  color: black;
}

header ul {
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 1.4em;
}

header ul li {
  flex-grow: 1;
  text-align: center;
  border-right: 1px solid black;
}
header ul li:last-child {
  border-right: none;
}

header ul li a {
  color: black;
  text-decoration: none;
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.125);
  color: #4f1192;
}

@media all and (max-width: 800px) {
  header {
    flex-direction: column;
  }
  header div {
    padding: 5px 0px 0px 0px;
  }
  header h1 {
    text-align: center;
  }
  header h5 {
    text-align: center;
  }
  header ul {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 15px;
  }
}

@media all and (max-width: 542px) {
  header ul li {
    width: 40%;
    padding-bottom: 5px;
    border: none;
  }
  header ul {
    font-size: 1.2em;
    padding-top: 5px;
    padding-bottom: 0px;
  }

  .home-h1 {
    font-size: 2.2em;
  }
}
