body,
html {
  height: 100vh;
}

body {
  background-image: url("./assets/images/rudbeckia.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-size: 3em;
}
h2 {
  font-size: 2.6em;
}

.section-paragraph {
  font-family: "Cormorant Garamond", serif;
  color: black;
  font-size: 1.4em;
  line-height: 1.6em;

  padding: 0px 40px 20px 40px;
  text-align: justify;
}
