.blog-container {
  background-color: #14390a;
  margin: 0px 40px 40px 40px;
  border-radius: 0.5em;
  border: 2px solid #16270f;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.blog-post {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.blog-post:last-child {
  padding-bottom: 20px;
}

@media only screen and (min-width: 1200px) {
  .blog-post {
    width: 1000px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
  }
}
