#contact-form {
  margin: 0px 40px 20px 40px;
}

#form-info-container {
  display: flex;
  flex-flow: row wrap;
}

.form-group {
  flex-grow: 1;
  font-family: "Cormorant Garamond", serif;
  padding-bottom: 10px;
}

.form-group:nth-child(1) {
  width: 50%;
}

.form-group:nth-child(2) {
  width: 50%;
}

.form-group:nth-child(3) {
  width: 100%;
}

.form-group:nth-child(4) {
  width: 100%;
}
.form-group label {
  font-family: "Cormorant Garamond", serif;
  font-size: 1.25em;
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  font-family: "Cormorant Garamond", serif;
  font-size: 1.1em;
  color: black;
  display: block;
  margin-bottom: 5px;
  padding: 8px 0px 8px 8px;
  border: 1px solid lightgray;
  border-radius: 4px;
  width: 80%;
}

#contact-subject {
  width: 90%;
}

.form-group textarea {
  font-family: "Cormorant Garamond", serif;
  font-size: 1.1em;
  color: black;
  display: block;
  width: 90%;
  margin-bottom: 5px;
  padding: 8px 0px 8px 8px;
  border: 1px solid lightgray;
  border-radius: 4px;
}

small {
  display: block;
  font-size: 1.1em;
  margin-bottom: 5px;
  color: #4f1192;
}

button {
  font-family: "Cormorant Garamond", serif;
  font-size: 1.1em;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #4f1192;
  color: white;
  background-color: #4f1192;
}

button:hover,
button:focus,
button:active {
  background-color: #1a2696;
}

#contact-addendum {
  font-size: 1.1em;
}

@media all and (max-width: 542px) {
  .form-group:nth-child(1) {
    width: 100%;
  }

  .form-group:nth-child(2) {
    width: 100%;
  }
  #contact-name {
    width: 90%;
  }
  #contact-email {
    width: 90%;
  }
}
