.wrapper {
  margin: 160px 40px 40px 40px;
  background: rgba(245, 245, 220, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid #16270f;
  border-radius: 0.5em;
  min-height: calc(100vh - 80px);
}

@media all and (max-width: 800px) {
  .wrapper {
    margin-top: 165px;
  }
}

@media all and (max-width: 542px) {
  .wrapper {
    margin-top: 205px;
    margin-left: 20px;
    margin-right: 20px;
  }
}
